<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Test Suite">

    <listeners>
        <listener class-name="com.bookstore.listeners.BookstoreListener"/>
    </listeners>

    <!-- Smoke Test Suite -->
    <test name="Bookstore Tests">
        <classes>
            <class name="com.bookstore.tests.HealthTests"/>
            <class name="com.bookstore.tests.LoginTests"/>
            <class name="com.bookstore.tests.SignupTests"/>
            <class name="com.bookstore.tests.BookTests"/>
        </classes>
    </test>
</suite>